<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRegistrationServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.CustRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaptopInfoServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.LaptopInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrinterInfoServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.PrinterInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationInfoServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.RegistrationInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assetregistrationservlet</servlet-name>
        <servlet-class>Key.Asset.Controller.Assetregistrationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ftableservlet</servlet-name>
        <servlet-class>Key.Asset.Controller.Ftableservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrinterServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.PrinterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chairservlet</servlet-name>
        <servlet-class>Key.Asset.Controller.chairservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>depreciationinfoservlet</servlet-name>
        <servlet-class>Key.Asset.Controller.depreciationinfoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>depreciationservlet</servlet-name>
        <servlet-class>Key.Asset.Controller.depreciationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purservlet</servlet-name>
        <servlet-class>Key.Asset.Controller.purservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vendorassessmentServlet</servlet-name>
        <servlet-class>Key.Asset.Controller.vendorassessmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRegistrationServlet</servlet-name>
        <url-pattern>/CustRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaptopInfoServlet</servlet-name>
        <url-pattern>/LaptopInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrinterInfoServlet</servlet-name>
        <url-pattern>/PrinterInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationInfoServlet</servlet-name>
        <url-pattern>/RegistrationInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assetregistrationservlet</servlet-name>
        <url-pattern>/Assetregistrationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ftableservlet</servlet-name>
        <url-pattern>/Ftableservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrinterServlet</servlet-name>
        <url-pattern>/PrinterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chairservlet</servlet-name>
        <url-pattern>/chairservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>depreciationinfoservlet</servlet-name>
        <url-pattern>/depreciationinfoservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>depreciationservlet</servlet-name>
        <url-pattern>/depreciationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purservlet</servlet-name>
        <url-pattern>/purservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vendorassessmentServlet</servlet-name>
        <url-pattern>/vendorassessmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
